<%= form_for(@workspace) do |f| %>
  <% if @workspace.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workspace.errors.count, "error") %> prohibited this workspace from being saved:</h2>

      <ul>
      <% @workspace.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :archived %><br />
    <%= f.check_box :archived %>
  </div>
  <div class="field">
    <%= f.label :tasks_updated_at %><br />
    <%= f.datetime_select :tasks_updated_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
