<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @ticket.subject %>
</p>

<p>
  <b>Points:</b>
  <%= @ticket.points %>
</p>

<p>
  <b>Description:</b>
  <%= @ticket.description %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>

<ul id="comments">
  <% @ticket.comments.all(:order => :created_at).each do |comment| %>
    <li><%= comment.subject %><br><%= comment.body %></li>
  <% end %>
  <%= render :partial => 'comments/form' %>
</ul>