<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @item.subject %>
</p>

<p>
  <b>Points:</b>
  <%= @item.points %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
